.login-container {
  height: 100vh; /* Растягиваем на 100% высоты экрана */
  display: flex;
  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  background-color: #e9ecef; /* Тот самый серый фон */
}

.login-box {
  width: 100%;
  max-width: 400px; /* Ограничиваем ширину окна авторизации */
  border-radius: 12px; /* Скругляем углы */
}